In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("C:/Users/LENOVO/Desktop/Patient-Satisfaction-and-Characteristics-in-Psychiatric-Hospitals-2017-1/data/raw/satisfaction-hosp-psychiatry-2017.xls")
df.head()

,SurveyCode,id,bet,bet1,kampus,kodkampus,migdar,machlaka,sugmigdar,mixed,...,q75y,q76y,q77y,HAATZAMAPER,MEIDALATPER,PEILUTPER,RETZEFPER,TNAYMPER,YACHASPER,year
0,מס סקר,מס' רשומה,בית חולים,בית חולים,קמפוס,קמפוס,מגדר המטופל,שם המחלקה,האם המחלקה היא לגברים או נשים,סוג מחלקה,...,האם במהלך האשפוז הרגשת מוגן ובטוח ?,האם הרגשת שפעילויות גופניות הן חלק משגרת היום ...,האם בזמן ההגבלה קיבלת מענה לצרכים הבסיסיים שלך...,העצמת המטופל,מתן מידע ובהירות ההסברים,מגוון פעילויות,הכנה לשחרור ורצף הטיפול,תנאים פיזיים,יחס וכבוד למטופל,NaN
1,2,129600,באר שבע,4,,NaN,2,מיון והשהיה,מעורבת,1,...,1,1,NaN,1,1,1,0.75,1,1,2016.0
2,2,129602,באר שבע,4,,NaN,1,מיון והשהיה,מעורבת,1,...,1,1,NaN,0.8,0.75,0.666667,0,1,1,2016.0
3,2,129603,באר שבע,4,,NaN,2,מיון והשהיה,מעורבת,1,...,1,1,NaN,0.8,0.5,0.666667,0.333333,0.833333,1,2016.0
4,2,129605,באר שבע,4,,NaN,1,מיון והשהיה,מעורבת,1,...,1,1,NaN,1,1,1,0.75,1,1,2016.0

### Column Removal Explanation
#### Several columns were removed during data preprocessing for the following reasons:
```
Duplicates: Columns with identical or redundant information.
Names Instead of Codes: Replaced text-based columns with numeric codes for consistency.
Empty Columns: Columns with too many missing values were excluded.
Irrelevant Data: Columns deemed unrelated to the project's objectives.
Unclear Meaning: Columns without clear documentation or context.
```

In [3]:
columns_to_drop = ["q17", "q32", "q35", "q36", "SurveyCode", "bet", "kampus", "tarich", "q45", "madad1", "q46", "date", 
                   "Q36y", "q17y", 'age', "q44_1", "q31"
                   "madad2", "madad3", "madad4", "madad5", "madad6", "madad7", "madad8", "madad9", "hosp_time1", "district", 
                   "case_manager", "total", "median_age", "q3y", "q4y", "q6y", "q7y", "q8y", "q10y", "q15y", "q19y", "q20y", 
                   "q22y", "q5y", "q9y","q16y", "q24y", "q25y", "q26y", "q27y", "q28y", "q29y", "q18y", "q30y", "q33y", "q34y", 
                   "q35y", "q36t", "Q1y", "q1t", "q2_1", "q21y", "q23y", "q12y", "q13y", "q14y", "q2_1y", "q77", "q71y", "q72y", 
                   "q73y", "q74y", "q75y", "q76y", "q77y", "HAATZAMAPER", "MEIDALATPER", "PEILUTPER", "RETZEFPER", "TNAYMPER", 
                   "YACHASPER", "year"]

df = df.drop(columns= columns_to_drop)
df = df.iloc[1: , ]
df.head()

,id,bet1,kodkampus,migdar,machlaka,sugmigdar,mixed,sug,q1,q2,...,mitot,q117,q135,q136,q71,q72,q73,q74,q75,q76
1,129600,4,NaN,2,מיון והשהיה,מעורבת,1,1,10,4,...,298,1,1,10,1,1,1,1,1,1
2,129602,4,NaN,1,מיון והשהיה,מעורבת,1,1,8,1,...,298,2,2,9,2,1,5,1,1,2
3,129603,4,NaN,2,מיון והשהיה,מעורבת,1,1,8,1,...,298,2,4,10,2,4,1,2,1,2
4,129605,4,NaN,1,מיון והשהיה,מעורבת,1,1,10,1,...,298,1,1,10,1,1,2,1,1,1
5,129606,4,NaN,1,מיון והשהיה,מעורבת,1,1,9,1,...,298,1,1,9,2,1,1,2,1,2

#### Missing Values

In [4]:
def missing_values_summary(df):
    missing_summary = df.isnull().sum()  # מחשב את מספר ה-NaN בכל עמודה
    missing_summary = missing_summary[missing_summary > 0]  # מסנן רק עמודות עם ערכים חסרים
    return missing_summary.sort_values(ascending=False)  # מחזיר בסדר יורד

missing_summary = missing_values_summary(df)
print(missing_summary)

kodkampus    881
q11_1        242
q41           11
q42           11
q38            9
zeman          8
sector         5
yamim          1
hosp_time      1
dtype: int64

In [5]:
df.loc[df['kodkampus'] == 1, 'bet1'] = 3
df.loc[df['kodkampus'] == 2, 'bet1'] = 12
df.loc[df['kodkampus'] == 3, 'bet1'] = 2
df.loc[df['kodkampus'] == 4, 'bet1'] = 13

# לאחר שטיפלנו בעמודת קמפוס ניתן להסיר אותה ולהישאר רק עם עמודת בית חולים (bet1)
df = df.drop(columns= "kodkampus")
df.head()

,id,bet1,migdar,machlaka,sugmigdar,mixed,sug,q1,q2,q3,...,mitot,q117,q135,q136,q71,q72,q73,q74,q75,q76
1,129600,4,2,מיון והשהיה,מעורבת,1,1,10,4,1,...,298,1,1,10,1,1,1,1,1,1
2,129602,4,1,מיון והשהיה,מעורבת,1,1,8,1,2,...,298,2,2,9,2,1,5,1,1,2
3,129603,4,2,מיון והשהיה,מעורבת,1,1,8,1,2,...,298,2,4,10,2,4,1,2,1,2
4,129605,4,1,מיון והשהיה,מעורבת,1,1,10,1,1,...,298,1,1,10,1,1,2,1,1,1
5,129606,4,1,מיון והשהיה,מעורבת,1,1,9,1,2,...,298,1,1,9,2,1,1,2,1,2

In [6]:
def missing_values_summary(df):
    missing_summary = df.isnull().sum()  # מחשב את מספר ה-NaN בכל עמודה
    missing_summary = missing_summary[missing_summary > 0]  # מסנן רק עמודות עם ערכים חסרים
    return missing_summary.sort_values(ascending=False)  # מחזיר בסדר יורד

missing_summary = missing_values_summary(df)
print(missing_summary)

q11_1        242
q41           11
q42           11
q38            9
zeman          8
sector         5
yamim          1
hosp_time      1
dtype: int64

##### מילוי 0 היכן שקיים ערך חסר אך בעמודה הקודמת יש ערך של 1 (מצביע על כך שלא היה מטפל אישי)

In [7]:
df.loc[df['q11'] == 1, 'q11_1'] = 0
df.loc[df['q11_1'].isnull(), ['q11','q11_1']]

     q11 q11_1
292    2   NaN
301    2   NaN
533    2   NaN
1010   2   NaN
1012   2   NaN

##### חישוב התפלגות של הנתונים לטובת מילוי הערכים החסרים בעמודה

In [8]:
# חיתוך הדאטה כדי לא לכלול את 0 ואת שם העמודה
df_dist = df.loc[df["q11_1"] != 0]

# שם העמודה
column_name = "q11_1"

# חישוב התפלגות הערכים הקיימים בעמודה (לא כוללים ערכים חסרים)
distribution = df_dist[column_name].value_counts(normalize=True)  # התפלגות באחוזים

# חישוב מספר הערכים החסרים בעמודה
num_missing = df_dist[column_name].isna().sum()
print(f"Number of missing values: {num_missing}")

# חישוב מספר השורות שצריכות להתמלא לכל ערך לפי ההתפלגות
values_to_fill = (distribution * num_missing).round().astype(int)  # עיגול למספר שלם

# הצגת מספר הערכים שיתווספו לכל קטגוריה
print("\nValues to fill for each category:")
print(values_to_fill)

# ודא שסך כל השורות מתמלא
difference = num_missing - values_to_fill.sum()
if difference > 0:
    # הוסף את ההפרש לערך הנפוץ ביותר
    most_common_value = values_to_fill.idxmax()
    values_to_fill[most_common_value] += difference

print(distribution)
print("\nAdjusted values to fill (if necessary):")
print(values_to_fill)

Number of missing values: 5

Values to fill for each category:
q11_1
4    2
3    1
1    1
2    1
5    0
Name: proportion, dtype: int64
q11_1
4    0.446835
3    0.193671
1    0.175949
2    0.174684
5    0.008861
Name: proportion, dtype: float64

Adjusted values to fill (if necessary):
q11_1
4    2
3    1
1    1
2    1
5    0
Name: proportion, dtype: int64

##### מילוי הערכים החסרים על פי נתוני ההתפלגות שחישבנו קודם לכן

In [9]:
# התפלגות הערכים שצריכים להתמלא (לדוגמה: נוצר מחישוב התפלגות)
values_to_fill = {
    "4": 2,  # למלא 2 ערכים ב-"4"
    "3": 1,  # למלא ערך אחד  ב-"3"
    "1": 1,   
    "2": 1
}

# מציאת האינדקסים של השורות החסרות
missing_indices = df[df[column_name].isna()].index
print(missing_indices)

# יצירת רשימה של הערכים למילוי על בסיס ההתפלגות
fill_values = []
for value, count in values_to_fill.items():
    fill_values.extend([value] * count)
print(fill_values)

# וידוא התאמה בין מספר השורות למלא לכמות הערכים
if len(fill_values) != len(missing_indices):
    raise ValueError("The number of missing rows does not match the distribution of fill values.")

# מילוי השורות החסרות בערכים
df.loc[missing_indices, column_name] = fill_values

Index([292, 301, 533, 1010, 1012], dtype='int64')
['4', '4', '3', '1', '2']

In [10]:
def missing_values_summary(df):
    missing_summary = df.isnull().sum()  # מחשב את מספר ה-NaN בכל עמודה
    missing_summary = missing_summary[missing_summary > 0]  # מסנן רק עמודות עם ערכים חסרים
    return missing_summary.sort_values(ascending=False)  # מחזיר בסדר יורד

missing_summary = missing_values_summary(df)
print(missing_summary)

q41          11
q42          11
q38           9
zeman         8
sector        5
yamim         1
hosp_time     1
dtype: int64

In [11]:
# שם העמודה
column_name = "q41"

# חישוב התפלגות הערכים הקיימים בעמודה (לא כוללים ערכים חסרים)
distribution = df[column_name].value_counts(normalize=True)  # התפלגות באחוזים

# חישוב מספר הערכים החסרים בעמודה
num_missing = df[column_name].isna().sum()
print(f"Number of missing values: {num_missing}")

# חישוב מספר השורות שצריכות להתמלא לכל ערך לפי ההתפלגות
values_to_fill = (distribution * num_missing).round().astype(int)  # עיגול למספר שלם

# ודא שסך כל השורות מתמלא
difference = num_missing - values_to_fill.sum()
if difference > 0:
    # הוסף את ההפרש לערך הנפוץ ביותר
    most_common_value = values_to_fill.idxmax()
    values_to_fill[most_common_value] += difference

print(distribution)
print("\nAdjusted values to fill (if necessary):")
print(values_to_fill)

Number of missing values: 11
q41
1    0.682664
3    0.120470
2    0.058766
4    0.050930
8    0.046033
9    0.035260
7    0.005877
Name: proportion, dtype: float64

Adjusted values to fill (if necessary):
q41
1    8
3    1
2    1
4    1
8    1
9    0
7    0
Name: proportion, dtype: int64

In [12]:
# התפלגות הערכים שצריכים להתמלא (לדוגמה: נוצר מחישוב התפלגות)
column_name = "q41"

values_to_fill = {
    "1": 7,  # למלא 7 ערכים ב-"1"
    "3": 1,  # למלא ערך אחד  ב-"3"
    "2": 1,   
    "4": 1,
    "8": 1
}

# מציאת האינדקסים של השורות החסרות
missing_indices = df[df[column_name].isna()].index
print(missing_indices)

# יצירת רשימה של הערכים למילוי על בסיס ההתפלגות
fill_values = []
for value, count in values_to_fill.items():
    fill_values.extend([value] * count)
print(fill_values)

# וידוא התאמה בין מספר השורות למלא לכמות הערכים
if len(fill_values) != len(missing_indices):
    raise ValueError("The number of missing rows does not match the distribution of fill values.")

# מילוי השורות החסרות בערכים
df.loc[missing_indices, column_name] = fill_values

Index([230, 429, 528, 539, 610, 650, 770, 787, 951, 959, 1032], dtype='int64')
['1', '1', '1', '1', '1', '1', '1', '3', '2', '4', '8']

In [13]:
# שם העמודה
column_name = "q42"

# חישוב התפלגות הערכים הקיימים בעמודה (לא כוללים ערכים חסרים)
distribution = df[column_name].value_counts(normalize=True)  # התפלגות באחוזים

# חישוב מספר הערכים החסרים בעמודה
num_missing = df[column_name].isna().sum()
print(f"Number of missing values: {num_missing}")

# חישוב מספר השורות שצריכות להתמלא לכל ערך לפי ההתפלגות
values_to_fill = (distribution * num_missing).round().astype(int)  # עיגול למספר שלם

# ודא שסך כל השורות מתמלא
difference = num_missing - values_to_fill.sum()
if difference > 0:
    # הוסף את ההפרש לערך הנפוץ ביותר
    most_common_value = values_to_fill.idxmax()
    values_to_fill[most_common_value] += difference

print(distribution)
print("\nAdjusted values to fill (if necessary):")
print(values_to_fill)

Number of missing values: 11
q42
1    0.729677
2    0.270323
Name: proportion, dtype: float64

Adjusted values to fill (if necessary):
q42
1    8
2    3
Name: proportion, dtype: int64

In [14]:
# התפלגות הערכים שצריכים להתמלא (לדוגמה: נוצר מחישוב התפלגות)
column_name = "q42"
values_to_fill = {
    "1": 8,  # למלא 8 ערכים ב-"1"
    "2": 3,  
}

# מציאת האינדקסים של השורות החסרות
missing_indices = df[df[column_name].isna()].index
print(missing_indices)

# יצירת רשימה של הערכים למילוי על בסיס ההתפלגות
fill_values = []
for value, count in values_to_fill.items():
    fill_values.extend([value] * count)
print(fill_values)

# וידוא התאמה בין מספר השורות למלא לכמות הערכים
if len(fill_values) != len(missing_indices):
    raise ValueError("The number of missing rows does not match the distribution of fill values.")

# מילוי השורות החסרות בערכים
df.loc[missing_indices, column_name] = fill_values

Index([76, 187, 256, 378, 535, 562, 570, 650, 770, 826, 881], dtype='int64')
['1', '1', '1', '1', '1', '1', '1', '1', '2', '2', '2']

In [15]:
# שם העמודה
column_name = "sector"

# חישוב התפלגות הערכים הקיימים בעמודה (לא כוללים ערכים חסרים)
distribution = df[column_name].value_counts(normalize=True)  # התפלגות באחוזים

# חישוב מספר הערכים החסרים בעמודה
num_missing = df[column_name].isna().sum()
print(f"Number of missing values: {num_missing}")

# חישוב מספר השורות שצריכות להתמלא לכל ערך לפי ההתפלגות
values_to_fill = (distribution * num_missing).round().astype(int)  # עיגול למספר שלם

# ודא שסך כל השורות מתמלא
difference = num_missing - values_to_fill.sum()
if difference > 0:
    # הוסף את ההפרש לערך הנפוץ ביותר
    most_common_value = values_to_fill.idxmax()
    values_to_fill[most_common_value] += difference

print(distribution)
print("\nAdjusted values to fill (if necessary):")
print(values_to_fill)

Number of missing values: 5
sector
1    0.798442
4    0.110029
3    0.091529
Name: proportion, dtype: float64

Adjusted values to fill (if necessary):
sector
1    4
4    1
3    0
Name: proportion, dtype: int64

In [16]:
# התפלגות הערכים שצריכים להתמלא (לדוגמה: נוצר מחישוב התפלגות)
column_name = "sector"
values_to_fill = {
    "1": 4, 
    "4": 1, 
}

# מציאת האינדקסים של השורות החסרות
missing_indices = df[df[column_name].isna()].index
print(missing_indices)

# יצירת רשימה של הערכים למילוי על בסיס ההתפלגות
fill_values = []
for value, count in values_to_fill.items():
    fill_values.extend([value] * count)
print(fill_values)

# וידוא התאמה בין מספר השורות למלא לכמות הערכים
if len(fill_values) != len(missing_indices):
    raise ValueError("The number of missing rows does not match the distribution of fill values.")

# מילוי השורות החסרות בערכים
df.loc[missing_indices, column_name] = fill_values

Index([299, 449, 770, 782, 1032], dtype='int64')
['1', '1', '1', '1', '4']

In [17]:
def missing_values_summary(df):
    missing_summary = df.isnull().sum()  # מחשב את מספר ה-NaN בכל עמודה
    missing_summary = missing_summary[missing_summary > 0]  # מסנן רק עמודות עם ערכים חסרים
    return missing_summary.sort_values(ascending=False)  # מחזיר בסדר יורד

missing_summary = missing_values_summary(df)
print(missing_summary)

q38          9
zeman        8
yamim        1
hosp_time    1
dtype: int64

#### טיפול בעמודת hosp_time

In [18]:
df = df.dropna(subset=['hosp_time'])

#### טיפול בעמודת MIXED

In [19]:
df.loc[df['sugmigdar'] == "גברים", 'mixed'] = 1
df.loc[df['sugmigdar'] == "נשים", 'mixed'] = 2
df.loc[df['sugmigdar'] == "מעורבת", 'mixed'] = 3

#### הגדרת הטיפוסים של העמודות

In [27]:
# טיפול בעמודה zeman
# שלב 1: מילוי הערכים החסרים ב-99
df['zeman'] = df['zeman'].fillna(99)

# שלב 2: המרת העמודה ל-int
df['zeman'] = df['zeman'].astype("Int64")

# # שלב 3: החזרת הערכים שהיו 0 ל-NaN
df['zeman'] = df['zeman'].replace(99, np.na)


column_types = {
    # קטגוריות עם סדר
    "q1": "category", "q2": "category", "q3": "category", "q4": "category",
    "q5": "category", "q6": "category", "q7": "category", "q8": "category",
    "q9": "category", "q10": "category", "q12": "category", "q13": "category",
    "q14": "category", "q15": "category", "q16": "category",
    "q18": "category", "q19": "category", "q20": "category", "q21": "category",
    "q22": "category", "q23": "category", "q24": "category", "q25": "category",
    "q26": "category", "q27": "category", "q28": "category", "q29": "category",
    "q30": "category", "q31": "category", "q33": "category",
    "q34": "category", "hosp_num": "category", "hosp_time": "category",

    # מספרים 
    "w_bet1": "float", "yamim": "Int64",

    # מחרוזות
    "id": "string", "q37": "string", "q38": "float64",

    # קטגוריות ללא סדר
    "bet1": "category", "migdar": "category", "machlaka": "category",
    "sugmigdar": "category", "mixed": "category", "sug": "category",
    "q11": "category", "q11_1": "category", "q44": "category"
}


# שינוי הטיפוסים של העמודות בטבלה
df = df.astype(column_types)

# בדיקה שאכן הטיפוסים שונו
print(df.dtypes[["q38", "yamim", "zeman"]])

q38      float64
yamim      Int64
zeman      Int64
dtype: object

In [31]:
df.loc[df["zeman"].isna(), ["zeman"]]

     zeman
87    <NA>
452   <NA>
529   <NA>
726   <NA>
795   <NA>
796   <NA>
854   <NA>
855   <NA>

#### מילוי ערכים חסרים בעמודות q38, zeman

In [29]:
def fill_missing_by_gender(df, columns_to_fill, gender_column='migdar'):

       for column in columns_to_fill:
  
        medians = df.groupby(gender_column)[column].median()
        
        df[column] = df.apply(
            lambda row: medians[row[gender_column]] if np.isnan(row[column]) else row[column],
            axis=1)
        return df
       
df = fill_missing_by_gender(df, columns_to_fill=['q38'], gender_column='migdar')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10716\1097878970.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  medians = df.groupby(gender_column)[column].median()

In [33]:
df['zeman'] = df.groupby('migdar')['zeman'] \
                        .transform(lambda x: x.fillna(x.median(skipna=True)))

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10716\2861975226.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['zeman'] = df.groupby('migdar')['zeman'] \

In [34]:
def missing_values_summary(df):
    missing_summary = df.isnull().sum()  # מחשב את מספר ה-NaN בכל עמודה
    missing_summary = missing_summary[missing_summary > 0]  # מסנן רק עמודות עם ערכים חסרים
    return missing_summary.sort_values(ascending=False)  # מחזיר בסדר יורד

missing_summary = missing_values_summary(df)
print(missing_summary)

Series([], dtype: int64)

#### טיפול בכפילויות

In [ ]:
# רשימת העמודות שברצונך לבדוק
columns_to_check = ["id"]  

# בדיקת ערכים כפולים בעמודות שנבחרו
duplicates = df.duplicated(subset=columns_to_check)

# הדפסת השורות הכפולות
if duplicates.any():
    print("ערכים כפולים נמצאו:")
    print(df[duplicates])
else:
    print("לא נמצאו ערכים כפולים בעמודות שנבחרו.")

#### הגדרת שמות עמודות רלוונטיות והגיוניות

In [ ]:
new_names = {"bet1": "hospital",
            "mixed": "migdarmachlaka", 
             "sug": "sugmachlaka",
             "q117": "q17",
             "q135": "q35",
             "q136": "q36",
             }

df = df.rename(columns= new_names)

df[["migdarmachlaka", "sugmachlaka", "q36"]]

#### טיפול בערכים חריגים

In [ ]:
def plot_boxplots(df):
    """
    פונקציה ליצירת בוקס פלוט עבור כל עמודה מספרית ב-DataFrame.

    Parameters:
        df (pd.DataFrame): DataFrame המכיל את הנתונים.

    Returns:
        None: מצייר את הגרפים.
    """
    numeric_columns = df.select_dtypes(include=['number']).columns  # עמודות מספריות בלבד

    # לולאה לכל עמודה מספרית
    for column in numeric_columns:
        plt.figure(figsize=(8, 4))
        sns.boxplot(data=df, x=column, color='skyblue')
        plt.title(f"Box Plot for {column}", fontsize=14)
        plt.xlabel(column, fontsize=12)
        plt.grid(axis='y', linestyle='--', alpha=0.7)
        plt.show()

plot_boxplots(df)

In [ ]:
def detect_outliers(df, method='iqr', z_threshold=3):
    """
    פונקציה לזיהוי ערכים חריגים בכל העמודות בדאטה.

    Parameters:
        df (pd.DataFrame): DataFrame לבדיקת ערכים חריגים.
        method (str): 'iqr' (תחום בין-רבעוני) או 'z-score' (סטיית תקן).
        z_threshold (float): סף לזיהוי ערכים חריגים בשיטת Z-Score.

    Returns:
        dict: מילון עם שמות עמודות ומספר הערכים החריגים בכל אחת מהן.
    """
    outliers_summary = {}

    for column in df.select_dtypes(include=[np.number]).columns:
        if method == 'iqr':
            # חישוב IQR
            Q1 = df[column].quantile(0.25)
            Q3 = df[column].quantile(0.75)
            IQR = Q3 - Q1

            # ערכים מחוץ לתחום [Q1 - 1.5*IQR, Q3 + 1.5*IQR]
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]

        elif method == 'z-score':
            # חישוב Z-Score
            mean = df[column].mean()
            std = df[column].std()
            outliers = df[(df[column] - mean).abs() > z_threshold * std]

        else:
            raise ValueError("Invalid method. Use 'iqr' or 'z-score'.")

        # עדכון התוצאות למילון
        outliers_summary[column] = len(outliers)

    return outliers_summary

print(detect_outliers(df, method='iqr', z_threshold=3))

In [ ]:
def find_outliers(df):
    """
    מזהה ערכים חריגים בטבלה ומחזיר DataFrame עם השורות שמכילות חריגים.

    Parameters:
        df (pd.DataFrame): DataFrame של הנתונים.

    Returns:
        pd.DataFrame: שורות שמכילות ערכים חריגים.
    """
    numeric_columns = df.select_dtypes(include=['number']).columns  # בחירת עמודות מספריות בלבד
    outlier_rows = pd.DataFrame()  # יצירת DataFrame ריק לאחסון שורות חריגות

    for column in numeric_columns:
        # חישוב רבעונים וטווח IQR
        Q1 = df[column].quantile(0.25)  # רבעון תחתון
        Q3 = df[column].quantile(0.75)  # רבעון עליון
        IQR = Q3 - Q1  # טווח בין-רבעוני

        # טווח ללא חריגים
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # סינון שורות חריגות לעמודה זו
        outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
        outlier_rows = pd.concat([outlier_rows, outliers])  # איחוד שורות חריגות

    # הסרה של שורות כפולות (אם יש עמודות חריגות בכמה עמודות שונות)
    outlier_rows = outlier_rows.drop_duplicates()

    return outlier_rows

# דוגמה לשימוש:
outliers_df = find_outliers(df)
outliers_df = outliers_df[['q44_1', 'zeman', 'yamim']]
outliers_df

#### להריץ את המודל עם הערכים החריגים וללא הערכים החריגים ולראות האם הסרתם משפרת את המודל
```
במידה וכן אז להסיר אותם לפי השיטות הבאות:
ערכים חסרי משמעות ברורה (טעויות/שגיאות):
הסר אותם או החלף אותן ב-חסר ערך לטיפול מאוחר יותר.

ערכים נדירים אך לגיטימיים:
השאר אותם, אלא אם הם משפיעים לרעה על ביצועי המודלים.

ערכים מחוץ לסף טבעי:
תקן אותם לערכים ריאליים (למשל, באמצעות חציון או סף עליון/תחתון).
```